* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
    color: black;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

.table th {
    text-align: center;
}

.cabecera {
    background-color: black;
    color: white;
    height: 15%;
    text-align: center;
    width: 100%;
    position: relative;
}

.pie {
    background-color: black;
    color: white;
    height: 10%;
}

.cabecera_division {
    width: 33%;
    float: left;
    height: 100%;
}

.cuerpo {
    height: 75%;
}

#logo {
    height: 100%;
    padding: 0px;
    margin-left: 42px;
    float: left;
}

#fecha {
    font-size: 40px;
    position: absolute;
    left: 42%;
    top: 30%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#hora {
    float: right;
    position: absolute;
    right: 5%;
    top: 29%;
}

ul.autores {
    padding-top: 22px;
    float: left;
    position: absolute;
    left: 42%;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    text-decoration: none;
}

ul.autores li {
    list-style: none;
    margin: 0 0px 0 0;
}

div#titulo {
    text-align: center;
    margin-bottom: 30px;
}

#titulo h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#glyphicon {
    cursor: pointer;
}

.tablas {
    margin-left: 30%;
    margin-right: 30%;
}

.table #columns_index {
    table-layout: fixed;
}

.button {
    padding: 5px;
}

label#mensaje_error {
    color: red;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}
.nav-tabs > li.active-no > a,
.nav-tabs > li.active-no > a:hover,
.nav-tabs > li.active-no > a:focus {
    cursor: default;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}