body {
    background-color: white;
    color: black;
    margin: 0%;
}

.cabecera {
    background-color: black;
    color: white;
    height: 15%;
    text-align: center;
    width: 100%;
    position: relative;
}

.pie {
    background-color: black;
    color: white;
    height: 10%;
}

.cabecera_division {
    width: 33%;
    float: left;
    height: 100%;
}

.cuerpo {
    height: 75%;
}

#logo {
    height: 100%;
    width: 30%;
}

#fecha {
    font-size: xx-large;
}

#hora {
    margin-top: 10%;
}

ul.autores {
    padding: 0px 0;
    float: left;
    position: absolute;
    left: 45%;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    text-decoration: none;
}

ul.autores li {
    list-style: none;
    margin: 0 0px 0 0;
}